
//- BACKCLOUD
img.cloud-left(src="https://notbigmuzzy.github.io/codepen/example3/img/cloud-left.png")
img.cloud-right(src="https://notbigmuzzy.github.io/codepen/example3/img/cloud-right.png")
img.cloud-right2(src="https://notbigmuzzy.github.io/codepen/example3/img/cloud-left.png")

//- FRONTCLOUDS
#clouds
	.cloud.cld1
	.cloud.cld2
	.cloud.cld3
	.cloud.cld4
	.cloud.cld5
	.cloud.cld6

//- MAIN PANEL
div.main
	h1 TRAVEL BLOG
	h3 SPIN THE GLOBE AND PICK A PLACE
	//- p Spin the globe and pick your place.

//- LANDMARKS
div.planet.spin1
	img.buildings.ajfel(src="https://notbigmuzzy.github.io/codepen/example3/img/ajfel.png")
	img.amer(src="https://notbigmuzzy.github.io/codepen/example3/img/amer.png")
	img.buildings.wash(src="https://notbigmuzzy.github.io/codepen/example3/img/wash.png")
	img.buildings.rus(src="https://notbigmuzzy.github.io/codepen/example3/img/rus.png")
	img.buildings.build(src="https://notbigmuzzy.github.io/codepen/example3/img/build.png")
	img.buildings.prus(src="https://notbigmuzzy.github.io/codepen/example3/img/prus.png")
	img.buildings.germ(src="https://notbigmuzzy.github.io/codepen/example3/img/germ.png")
	img.buildings.crkv(src="https://notbigmuzzy.github.io/codepen/example3/img/crkv.png")
	img.buildings.krist(src="https://notbigmuzzy.github.io/codepen/example3/img/krist.png")
	img.buildings.piramid(src="https://notbigmuzzy.github.io/codepen/example3/img/piramid.png")
	img.buildings.arab(src="https://notbigmuzzy.github.io/codepen/example3/img/arab.png")
	img.buildings.relg(src="https://notbigmuzzy.github.io/codepen/example3/img/relg.png")
	img.buildings.pope(src="https://notbigmuzzy.github.io/codepen/example3/img/pope.png")
	img.buildings.bigben(src="https://notbigmuzzy.github.io/codepen/example3/img/bigben.png")
	img.buildings.bridge(src="https://notbigmuzzy.github.io/codepen/example3/img/bridge.png")
	img.buildings.germ2(src="https://notbigmuzzy.github.io/codepen/example3/img/germ2.png")
	img.buildings.rom(src="https://notbigmuzzy.github.io/codepen/example3/img/rom.png")
	img.buildings.chrch(src="https://notbigmuzzy.github.io/codepen/example3/img/chrch.png")
	img.piza(src="https://notbigmuzzy.github.io/codepen/example3/img/piza.png")

	//- SURFACE STUFF
	div.planet-surface
		div.surface2
		div.surface3
		div.surface4
		div.surface5
		div.surface6

//- BUSSSS
div.bus
	div.bus-up
		div.bus-window.bus-window-topleft.bus-window-width
		div.bus-window.bus-window-width
		div.bus-window.bus-window-width
		div.bus-window.bus-window-width
		div.bus-window.bus-window-topright.bus-window-width
		hr
	div.bus-middle
		div.bus-window.bus-window-left
		div.bus-window
		div.bus-window
		div.bus-window.bus-window-right
		div.bus-door
		hr
	div.bus-down
		div.tire-left.tire-anim
			div.tire-middle
		div.tire-right.tire-anim
			div.tire-middle


//- SCROLL
div.mouse-sign 
	span1 SCR 
	span1 OLL
	div.mouse 
		div.wheel
			div.mouse-margin
				span.unu
				span.doi
				span.trei
